body {
  background: url(3ec862b93a8e4d199b13b6d2d25f3470.jpg) no-repeat center center fixed #C0C0C0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

hr {
  border-top: 2px dashed #9dd1ff;
  background-color: #56b0ff;
}